@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class = " row text-center p-3 mb-2 bg-secondary text-white">
    <div class="col">
        <h1> Welcome Привет 你好 </h1>
        <h2>for the best foreign language course in the world</h2>
    </div>
</div>

<div class="row text-center p-3 mb-2 bg-secondary text-white">
    <div class="col">
        <img src="~/images/Planeta.jpg" class="w-50 img-fluid img-thumbnail" alt=" From Dmitrii course " />
    </div>
</div>